html, body {
    height: 100%;
    color: rgb(17, 16, 16);
    background-color: rgb(216, 221, 228);
  }

  .business-font {
    text-align: left;
    text-shadow: 0 0 10px rgb(246, 250, 5);
    font-size:1.2rem;
    line-height: 1.5em;
  }

  .business-header {
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-size:1.2rem;
    line-height: 1.5em;
    border: 1px solid rgb(32, 24, 24);
    background: rgb(146, 140, 140);
  }

  .navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    }

  .navbar-brand {
    text-decoration: none;
    color: rgb(0, 0, 0);
    }

    #mainbar .navbar-nav .nav-link {
      color: rgb(7, 7, 7);
    }

    #container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 350px;
      align-items: flex-start;
      }

      .box {
        width: 25%;
        }