{% extends "webblog/base.html" %} {% load staticfiles %}


{% block content %}
<br>
<div class="container" id="container">
    <div class="box box1"><h1>Test 1</h1><p>Dies ist der erste Absatz zum testen.</p></div>
    <div class="box box2"><h1>Test 1</h1><p>Dies ist der zweite Absatz zum testen.</p></div>
    <div class="box box3"><h1>Test 1</h1><p>Dies ist der dritte Absatz zum testen.</p></div>
    <div class="box box4"><h1>Test 1</h1><p>Dies ist der vierte Absatz zum testen.</p></div>
    <div class="box box5"><h1>Test 1</h1><p>Dies ist der fünfte Absatz zum testen.</p></div>
    <div class="box box1"><h1>Test 1</h1><p>Dies ist der sechste Absatz zum testen.</p></div>
    <div class="box box2"><h1>Test 1</h1><p>Dies ist der siebte Absatz zum testen.</p></div>
    <div class="box box3"><h1>Test 1</h1><p>Dies ist der achte Absatz zum testen.</p></div>
    <div class="box box4"><h1>Test 1</h1><p>Dies ist der neunte Absatz zum testen.</p></div>
    <div class="box box5"><h1>Test 1</h1><p>Dies ist der zehnte Absatz zum testen.</p></div>
</div>
{% endblock %}